<style> 


		h2 { color: green
		 }

		body { 

			background-color: rgb(204, 242, 255);

	}

	#my-experience {

		background-color: #80dfff;
	}

		.text-in-page {
			background-color: #b9c2c6;
		}
	
		</style>
	}